/*  
    CSS is organized by selectors
	1. Tag
	2. Class
	3. Id
*/

.title-holder {
    padding: 2em 0 2em 0;
}

.outer-popup {
    background-color: rgb(0, 0, 0, .7);
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}

.inner-popup {
    background-color: lightgrey;
    border-radius: 10px;
    margin: 25%;
    padding: 5px;
    box-shadow: 0px 3px 7px rgba(1, 1, 1, 5);
    background: #fff;
}

#body {
    background-image: url("aa/logo.jpg");
    background-size: cover;
    padding: 25% 15% 15% 15%;
}

#form {
    border-radius: 5px;
    background: white;
}